nav {
    text-align: right;
    background-color: maroon;
    padding: 50px;
    font-size: 1.5rem;
    border: solid;
    border-color: navy;
    
}

a {
    color: antiquewhite;
    text-decoration: none;
    font-family: fantasy;
    font-weight: 200;
    margin-left: 2rem;
    font-size: 2.0rem;
}
a:hover {
    color: #b76e79;
    font-size: 2.5rem;
    transition: ease-out;
}


.img {
    width: 150px;
    height: 120px;
    border: double;
    border-color: navy;
    float: left;
    margin-left: -3.0rem;
    margin-top: -2.7rem;
}

.img2 {
    width: 630px;
    height: 550px;
    float: left;
    margin-top: -4rem;
    border: solid navy
}
.p {
    font-size: 70px;
}

.padding {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.padding1 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.box-height {
    height:35px;
    width:550px;
    font-size: 20px
}

.box-height1 {
    height:120px;
    width:550px;
    font-size: 20px
}

button {
    background-color: maroon;
    color: white;
    font-size: 15px
}

/* footer {
    background-color: #00000090;
    color: white;
    padding-top: 4rem;
    padding-bottom: 1rem;
   
}

footer a {
    color: white;

} */